header {
  margin-top: 50px ;
  text-align: center;
  font-size: 1.5rem;
  color:#c0c0c0;
}
.score-display {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 50px;
  color:#c0c0c0;
}
.score-display.score{
  margin-bottom: 0;
}
.card-container {
  padding-left: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-container h1 {
  width: 100%;
  text-align: center;
}
